*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a0a0a;
}

header{
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 40px;

    height: 80px;
}

.menu{
    display: flex;

    align-items: center;

    gap: 40px;
}

nav{
    display: flex;

    font-family: Arial, Helvetica, sans-serif;

    gap: 20px;
}

.logo h1{
    color: white;

    font-size: 24px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

nav a{
    color: white;

    text-decoration: none;

    font-size: 12px;
}

button{
    background-color: red;

    color: white;

    border: none;

    padding: 10px 20px;

    font-size: 12px;

    cursor: pointer;
}

.principal{
    height: 90vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background-image: url("../img/imagen\ principal.jpg");

    background-size: cover;

background-position: center;
}

.principal-contenido{
    text-align: center;

    color: white;

}

.principal-contenido h1{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;


    margin-bottom: 20px;

    line-height: 1.1;
}

.principal-contenido p{

    font-family: Arial, Helvetica, sans-serif;

    font-size: 18px;

    margin-bottom: 30px;
}

.busqueda{
    display: flex;

    justify-content: center;
}

.busqueda input{
    width: 600px;

    padding: 15px;

    border: none;

    outline: none;
}

.busqueda button{
    padding: 15px 20px;

    border: none;

    background-color: white;

    color: rgb(0, 0, 0);

    cursor: pointer;
}



.beat{
    display: flex;

    align-items: center; 

    justify-content: space-between; 

    background-color: white;

    margin: 15px 50px;

    margin-bottom: 50px;

    height: 100px;

    padding: 0 15px;

    border-radius: 15px;
}


.img-circulo{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}


.beats h2{
    color: white;
    margin: 20px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}

.info-beat{
    font-family: Arial, Helvetica, sans-serif;

    flex: 1; 

    margin-left: 20px;
}

.info-beat h3{
    margin-bottom: 5px;
}

.info-beat p{
    margin: 0;
}

.beat button{

    background-color: #b31212;
    color: white;

    border: none;

    width: 120px;
    height: 45px;

    border-radius: 10px;

    font-weight: bold;

    cursor: pointer;

   
}

.beneficio h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.beneficios{

    display: flex;

    justify-content: space-around;

    padding: 100px 50px;
    margin-top: 100px;
    margin-bottom: 300px;

}

.img-icon{
    height: 300px;
    width: 300px;
}

.beneficio{
    display: flex;
     flex-direction: column;

    align-items: center;
}

footer{

    background-color: #3a3a3a;

    padding: 30px;

    margin-top: 100px;
}
.info{

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
   
}

.info h2{

    color: white;

    font-size: 20px;

    font-weight: normal;
}

button:hover{
    background-color: darkred;
}

nav a:hover{
    color: red;
}


.detalle-beat{

    display: flex;

    gap: 40px;

    padding: 50px;
}

.portada-beat{

    width: 350px;

    border-radius: 5px;

    
}
.derecha {
    margin-top: 25px;
}

.derecha h1{

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 45px;

    margin-bottom: 30px;
}

.datos-beat{

    display: flex;

    gap: 20px;

    margin-bottom: 30px;
}

.dato{

    background-color: white;

    width: 120px;

    padding: 15px;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

.dato h3{

    font-size: 28px;
}

.dato p{

    font-size: 14px;
}

.caja-compra{

    background-color: #d9d9d9;

    width: 400px;

    padding: 20px;

    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 30px;
}

.tabs{

    display: flex;

    margin-bottom: 40px;
}

.tab-activa{

    background-color: #4a4a4a;

    color: white;

    padding: 10px 40px;

    font-size: 14px;
}

.tab{

    background-color: #bfbfbf;

    padding: 10px 40px;

    font-size: 14px;
}

.compra-info{

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.compra-info h2{

    font-size: 32px;

    font-weight: normal;
}

.descripcion{

    color: #bdbdbd;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    line-height: 1.6;

    width: 450px;
    max-width: 415px;
   
}

.mas-productor{

    padding: 50px;
}

.mas-productor h2{

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 35px;

    margin-bottom: 20px;
}

.linea{

    height: 2px;

    background-color: white;

    margin-bottom: 50px;
}

.otros-beats{

    display: flex;

    gap: 30px;
}

.card-productor{

    background-color: #d9d9d9;

    padding: 15px;

    width: 220px;

    font-family: Arial, Helvetica, sans-serif;
}

.card-productor img{

    width: 100%;

    margin-bottom: 15px;
}

.card-productor h3{

    margin-bottom: 5px;
}

.card-productor p{

    color: gray;
}

.perfil-productor{

    background-color: #d9d9d9;

    margin-top: 20px;

    padding: 15px;

    display: flex;

    align-items: center;

    gap: 15px;

    width: 350px;
}

.foto-productor{

    width: 60px;

    height: 60px;

    border-radius: 50%;
}

.texto-productor{

    font-family: Arial, Helvetica, sans-serif;
}

.texto-productor h3{

    font-size: 18px;

    margin-bottom: 5px;
}

.texto-productor a{

    color: gray;

    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px;
}

.volver{

    color: white;

    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    display: block;

    margin-bottom: 20px;
}

.checkout{

    display: flex;

    gap: 50px;

    padding: 50px;
}

.titulo-checkout{

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 50px;

    padding: 0 50px;

    margin-bottom: 40px;

margin-top: 50px;
}

.caja-pedido h2{

    color: rgb(0, 0, 0);

    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 20px; 
}

.caja-pedido{

    background-color: #d9d9d9;

    width: 380px;

    padding: 20px;

    padding-bottom: 300px;

    font-family: Arial, Helvetica, sans-serif;
}

.producto-checkout{

    display: flex;

    gap: 15px;

    margin-bottom: 40px;
}

.producto-checkout img{

    width: 60px;

    height: 60px;
}

.producto-info h3{

    margin-bottom: 5px;
}

.producto-info p{

    color: gray;

    font-size: 14px;
}

.fila{

    display: flex;

    justify-content: space-between;

    margin-bottom: 15px;

    font-size: 14px;
}

.total{

    display: flex;

    justify-content: space-between;

    margin-top: 40px;

    padding-top: 20px;

    border-top: 1px solid gray;
}

.checkout-derecha{

    width: 450px;

    font-family: Arial, Helvetica, sans-serif;
}

.checkout-derecha h2{

    color: white;

    margin-bottom: 20px;

    font-size: 22px;
}

.metodos{

    display: flex;

    margin-bottom: 30px;
}

.metodo-activo{

    background-color: white;

    padding: 12px 25px;

    font-size: 14px;
}

.metodo{

    background-color: #bfbfbf;

    padding: 12px 25px;

    font-size: 14px;
}

.formulario{

    display: flex;

    flex-direction: column;

    gap: 15px;
}

.formulario label{

    color: white;

    font-size: 12px;
}

.formulario input{

    padding: 12px;

    border: none;

    outline: none;

    background-color: #d9d9d9;
}

.formulario-dos{

    display: flex;

    gap: 15px;
}

.input{

    display: flex;

    flex-direction: column;

    flex: 1;

    gap: 10px;
}

.boton-pagar{

    background-color: #7c7c7c;

    height: 50px;

    margin-top: 20px;

    font-weight: bold;
}

.checkout{

    align-items: flex-start;

    margin-bottom: 500px;
}

.volver-checkout{

    color: white;

    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;

    display: block;

    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.botoncomprabeat{
    color: white;

    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;

}

.pago-exitoso{

    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 50px;
}

.confirmacion{

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;

    color: white;
}

.check{

    width: 200px;

    margin-bottom: 20px;
}

.confirmacion h1{

    font-size: 55px;

    margin-bottom: 10px;
}

.descarga{

    background-color: #d9d9d9;

    width: 700px;

    padding: 25px;

    margin-top: 40px;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

.archivo{

    display: flex;

    align-items: center;

    gap: 15px;

    margin-bottom: 30px;
}

.info-archivo h3{

    margin-right: 180px;
    margin-bottom: 5px;
}


.archivo img{

    width: 85px;
    
}

.btn-descarga{

    width: 100%;

    background-color: #8f8f8f;

    color: black;

    height: 80px;

    margin-bottom: 15px;
}

.pasos{

    width: 700px;

    margin-top: 50px;

    font-family: Arial, Helvetica, sans-serif;
}

.pasos h2{

    color: white;

    font-size: 40px;

    margin-bottom: 20px;
}

.paso{

    background-color: white;

    padding: 20px;

    display: flex;

    gap: 15px;

    align-items: center;
}

.paso span{

    font-size: 30px;

    font-weight: bold;
}

.volver-home{

    margin-top: 120px;
}

.volver-home button{

    width: 400px;

    height: 50px;

    background-color: #8f8f8f;

    color: black;
}

.volver-home a{
    text-decoration: none;
    color: black;
}

.boton-pagar a{
    text-decoration: none;
    color: black;
}


.explorar{

    padding: 50px;

    font-family: Arial, Helvetica, sans-serif;
}

.explorar h1{

    color: white;

    font-size: 50px;

    margin-bottom: 30px;
}

.filtros{

    display: flex;

    gap: 20px;
}

.filtros select{

    padding: 12px;

    width: 180px;

    background-color: white;

    border: none;
}

.lista-explorar{

    padding: 0 50px 50px;
}

.beat-explorar{

    display: flex;

    align-items: center;

    justify-content: space-between;

    background-color: white;

    padding: 15px;

    border-radius: 15px;

    margin-bottom: 20px;
}

.beat-explorar button{

    width: 120px;

    height: 45px;

    border-radius: 10px;

    background-color: #b31212;

    color: white;

    border: none;
}

.busqueda-explorar{

    display: flex;

    margin-top: 25px;
}

.busqueda-explorar input{

    width: 525px;

    padding: 15px;

    border: none;
}

.busqueda-explorar button{

    background-color: white;

    color: black;
}

.soporte{

    padding: 50px;

    font-family: Arial, Helvetica, sans-serif;
}

.soporte h1{

    color: white;

    font-size: 50px;

    margin-bottom: 20px;
}

.soporte h2{

    color: white;

    margin-bottom: 30px;

    font-size: 24px;
}

.form-soporte{

    display: flex;

    flex-direction: column;

    width: 700px;

    gap: 10px;
}

.form-soporte label{

    color: white;

    font-size: 14px;

    margin-top: 10px;
}

.form-soporte input{

    padding: 15px;

    border: none;

    border-radius: 5px;

    font-size: 14px;
}

.form-soporte textarea{

    height: 180px;

    padding: 15px;

    border: none;

    border-radius: 5px;

    resize: none;

    font-size: 14px;
}

.form-soporte button{

    margin-top: 20px;

    width: 250px;

    height: 50px;

    font-weight: bold;
}


.faq{

    margin-top: 180px;

    width: 700px;

    font-family: Arial, Helvetica, sans-serif;

    margin-left: 50px;
    margin-right: 50px;
}

.faq h2{

    color: white;

    margin-bottom: 30px;
}

.faq details{

    background-color: white;

    margin-bottom: 15px;

    border-radius: 10px;

    padding: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

.faq summary{

    cursor: pointer;

    font-weight: bold;
}

.faq p{

    margin-top: 15px;

    color: #555;
}

.soporte-main{

display: flex;
}

.preguntas{

    margin-top: 68px;

}

.generos{

    padding: 50px;

    font-family: Arial, Helvetica, sans-serif;
}

.grid-generos{

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
}

.card-genero{

    position: relative;

    height: 250px;

    overflow: hidden;

    border-radius: 15px;

    cursor: pointer;
}

.card-genero img{

    width: 100%;

    height: 100%;

    object-fit: cover;
}

.card-genero h2{

    position: absolute;

    bottom: 20px;

    left: 20px;

    color: white;

    font-size: 35px;

    font-family: Arial, Helvetica, sans-serif;
}
.card-genero .titulo-negro{
    color: black;
}



.card-genero:hover{

    transform: scale(1.02);

    transition: 0.3s;
}

.genero-detalle{

    padding: 50px;

    font-family: Arial, Helvetica, sans-serif;
}

.genero-detalle h1{

    color: white;

    font-size: 60px;

    margin-top: 20px;

    margin-bottom: 15px;
}

.genero-detalle p{

    color: #bdbdbd;

    font-size: 18px;

    margin-bottom: 50px;
}

.subir-beat{

    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado-subida{

    margin-bottom: 50px;
}

.encabezado-subida h1{

    color: white;
    font-size: 60px;
    margin-bottom: 15px;
}

.encabezado-subida p{

    color: #bdbdbd;
    font-size: 18px;
}

.contenedor-subida{

    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.formulario-beat{

    background-color: #d9d9d9;
    padding: 35px;
    border-radius: 15px;
    width: 700px;
}

.formulario-beat form{

    display: flex;
    flex-direction: column;
}

.formulario-beat label{

    margin-bottom: 8px;
    margin-top: 20px;

    font-weight: bold;
    font-size: 14px;
}

.formulario-beat input,
.formulario-beat select,
.formulario-beat textarea{

    width: 100%;

    padding: 14px;

    background-color: white;

    font-size: 14px;

    border-radius: 5px;

}

.formulario-beat textarea{

    height: 140px;

    resize: none;
}

.fila-formulario{

    display: flex;

    gap: 20px;
}

.campo{

    flex: 1;
}

.btn-publicar{

    margin-top: 35px;

    width: 100%;

    background-color: #d31b1b;

    color: white;

    font-weight: bold;

    padding: 16px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

.btn-publicar:hover{

    background-color: #a50f0f;
}

.panel-info{

    width: 320px;

    display: flex;

    flex-direction: column;

    gap: 30px;
}

.preview-card{

    background-color: #d9d9d9;

    padding: 20px;

    border-radius: 15px;
}

.preview-card h3{

    margin-bottom: 15px;
}

.preview-card img{

    width: 100%;

    border-radius: 10px;

    margin-bottom: 15px;
}

.preview-card h4{

    margin-bottom: 5px;

    font-size: 22px;
}

.preview-card p{

    color: #555;
}

.tips-card{

    background-color: #d9d9d9;

    padding: 20px;

    border-radius: 15px;
}

.tips-card h3{

    margin-bottom: 15px;
}

.tips-card ul{

    padding-left: 20px;
}

.tips-card li{

    margin-bottom: 10px;

    line-height: 1.5;
}

.btn-header{

    background-color: red;

    color: white;

    text-decoration: none;

    padding: 10px 20px;

    font-size: 12px;

    font-family: Arial, Helvetica, sans-serif;

    display: inline-block;
}

.btn-header:hover{

    background-color: darkred;
}

.perfil-productor-pagina{

    padding: 50px;
}

.cabecera-productor{

    display: flex;

    gap: 40px;

    align-items: center;
}

.foto-grande{

    width: 220px;

    height: 220px;

    border-radius: 50%;

    object-fit: cover;
}

.info-productor{

    font-family: Arial, Helvetica, sans-serif;

    color: white;
}

.info-productor h1{

    font-size: 50px;

    margin-bottom: 10px;
}

.generos-productor{

    color: #bdbdbd;

    margin-bottom: 30px;
}

.stats{

    display: flex;

    gap: 40px;

    margin-bottom: 30px;
}

.stats h3{

    font-size: 30px;
}

.stats p{

    color: #bdbdbd;
}

.acciones-productor{

    display: flex;

    gap: 15px;
}

.btn-secundario{

    background-color: #555;
}

.sobre-productor{

    padding: 0 50px 50px 50px;
}

.sobre-productor h2{

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 20px;
}

.sobre-productor p{

    color: #bdbdbd;

    font-family: Arial, Helvetica, sans-serif;

    max-width: 700px;

    line-height: 1.8;
}

.beats-productor{

    padding: 0 50px 50px 50px;
}

.beats-productor h2{

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 20px;
}

.card-productor-midnight{

    background-color: #d9d9d9;

    padding: 15px;

    width: 220px;

    font-family: Arial, Helvetica, sans-serif;
}

.card-productor-midnight img{

    width: 100%;

    height: 190px;
    margin-bottom: 15px;
}

.card-productor-midnight h3{

    margin-bottom: 5px;
}

.card-productor-midnight p{

    color: gray;
}

#seguir{
    display: none;
}

.btn-seguir{

    background-color: red;
    color: white;

    padding: 10px 20px;

    cursor: pointer;
}

#seguir:checked + .btn-seguir{

    background-color: rgb(121, 121, 121);
}

#seguir:checked + .btn-seguir::after{

    content: "SIGUIENDO";
}

#seguir:checked + .btn-seguir{

    font-size: 0;
}

#seguir:checked + .btn-seguir::after{

    font-size: 14px;
}